/*  


    GENERIC 


*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg {
  width: 100vw;
  height: 100vh;

  background-color: rgb(20, 20, 20);
}
header + * {
  padding-top: 100px;
}

.card > img {
  width: 100%;
  display: block;
}

.container {
  height: calc(100vh - 200px);
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;

  overflow: auto;
}

/* 


    UTILITIS


 */

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

/* 


    * HEADER


*/

.size-screen {
  position: absolute;
  top: 15px;
  right: 5px;
  text-align: center;
}

.size-screen > a {
  background-color: #4a4a4abd;
  padding: 5px 8px;
  border-radius: 8px;
}

/* 


    *MAIN


*/

.card {
  /* width: calc(100% / 7 - 20px); */
  position: relative;
  /* margin: 5px 10px; */
  filter: drop-shadow(4px 4px 0px #8009095e);
}

.microphone {
  padding: 5px 10px;
  border-top-right-radius: 5px;
  background-color: rgb(183 38 38 / 60%);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  filter: drop-shadow(2px 1px 0.5px #000000);
}
.microphone-verde {
  padding: 5px 10px;
  border-top-right-radius: 5px;
  background-color: rgba(41, 172, 8, 0.6);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  filter: drop-shadow(2px 1px 0.5px #000000);
}
.card.card-verde {
  filter: drop-shadow(4px 4px 0px #0272274b);
}

/* 


    * FOOTER



*/

.menu-call {
  width: 100vw;
  height: 100px;

  background-color: #312f2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon > ul > li {
  font-size: 1.5rem;
  list-style: none;

  justify-content: center;
}
.input *,
.interface * {
  padding: 0 0.2rem;
}
.input,
.interface {
  padding: 10px;
  align-items: center;
}

.end-call {
  height: 100%;
  width: 150px;
  margin-left: 31px;
  background-color: #4a4a4a;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: drop-shadow(-5px 0px 3px #0000004b);
}
.end-call > a {
  color: red;
  font-size: 1.5rem;
}

.end-call:hover a {
  transform: scale(1.2);
}

/* 


    CLASSI DI DEBUG


*/

.debug {
  border: 2px dashed white;
}

.debug .input {
  border: 2px dashed white;
  min-width: 50px;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.503);
}
.debug .end-call {
  border: 2px dashed white;
  min-width: 50px;
  background-color: rgba(0, 255, 255, 0.503);
}
.debug .interface {
  border: 2px dashed white;
  min-width: 50px;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.503);
}

.debug .size-screen {
  border: 2px dashed white;
  min-width: 50px;
  background-color: rgba(255, 94, 0, 0.503);
}
.debug .full-screen {
  border: 2px dashed white;
  min-width: 50px;
  background-color: rgba(255, 94, 0, 0.503);
}

.debug .card {
  border: 2px dashed white;
  background-color: rgba(23, 255, 2, 0.503);
}

i:hover {
  transform: scale(1.2);
}
